@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
.App {
  text-align: center;
  background: linear-gradient(163deg, rgba(20, 120, 166, 0.979411833092612) 3%, rgba(234, 234, 255, 1) 50%, rgba(252, 156, 204, 0.9570028695071778) 99%);
  /* filter: blur(5px);
  -webkit-filter: blur(5px); */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}
.Header{
  font-family: 'Megrim', cursive;
  font-size: 30px;
  font-weight: bold;
}

.Main {
  display: flex;


  background-color: #ffffff59;
  width: 90%;
  height: 90vh;
  justify-content: center;
  
  border-radius: 15px;
  box-shadow: 0px 0px 5px 5px rgba(37, 37, 37, 0.342);
}
.Container{
  font-family: 'Caveat', cursive;
  width: 700px;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  word-wrap: break-word;
}
/* .content{
  width: 600px;
 


  word-wrap: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
.content p{
  font-family: 'Cutive Mono', monospace;
}
.btn {
  display: inline-block;
  padding: 15px 30px;
  box-shadow: 0px 0px 2px 2px rgba(37, 37, 37, 0.342);
  text-decoration: none;
  border-radius: 10px;
  background-color: rgba(226, 226, 226, 0.226);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  background-color: rgba(95, 95, 95, 0.2);
}